@charset "utf-8";
/* CSS Document */
	body{
	background:#000;
	}
.carousel{position:relative;
top:60px;
}
.navbar{padding-bottom:2px;border-BOTTOM:1px solid #F8601B}

/*========= PARAMETROS PARALLAX STELLAR ===================*/
.stellar {
    background-attachment: fixed;
	/* min-height: 0px; ALTURA MINIMA */
}
#stellar_img_01 {
    background-image:url(../img/parallax/hexagon-prisms-28449-2560x1440.jpg);
}
#stellar_img_02 {
    background-image:url(../img/parallax/fondo_02.png);
        /*background-image:url(../img/parallax/fondo_navidad6.jpg);*/

	
}
#stellar_img_03 {
    background-image:url(../img/parallax/parallax3.jpg);
}
#stellar_img_04 {
    background-image:url(../img/parallax/parallax4.jpg);
}
#stellar_img_05 {
    background-image:url(../img/parallax/parallax5.jpg);
}
	
/*	========   PARAMETROS CAJA LOGIN ========================================*/
	.caja_login{
	position:fixed;
	width:350px;
	top:50px;
	text-align:center;
    margin-top: 20px;
    padding: 0px 0px 0px 0px;
    background-color: #B2B2B2;
	transition: all linear 0.55s;
	-ms-transition: all linear 0.55s;
	-moz-transition: all linear 0.55s;
	-webkit-transition: all linear 0.55s;
	-o-transition: all linear 0.55s;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
   border-radius: 5px 5px 5px 5px;
   z-index:1000;
}
.caja_login_down_up{
	top:31px;
	}
@media screen and (max-width:580px){  
.caja_login_down_up{
	top:331px;
	} 
}
/*	========   FIN PARAMETROS CAJA LOGIN ========================================*/
	
	.color_naranja_centrado{
		text-align:center;
		color:#F8601B;
		}
	.color_naranja_izquierda{
		text-align:left;
		color:#F8601B;
		}		
	.color_footer{
		text-align:left;
		color:#fff;
		font-size: 20px;
		}
			
		hr{margin-top:20px;margin-bottom:20px;border:0;border-top:1px solid #F8601B}


/*	========   PARAMETROS HREF LINK ========================================*/
a {
	text-decoration: none;
	color:#FFF;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color:#FFF;
}
a:hover {
	text-decoration: none;
	color:#F8601B;
}
a:active {
	text-decoration: none;
}
a:focus {
    outline:0px;
}
/*	========   PARAMETROS HREF LINK ========================================*/

.ir-arriba {
	display:none;
	padding:10px;
	background:#696969;
	font-size:15px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:-5px;
	right:10px;
	border-radius: 5px 5px 5px 5px;
}